<template>
  <div class="block-center mt-4 wd-xl">
    <!-- START card-->
    <div class="card card-flat">
      <div class="card-header text-center bg-dark">
        <a href="#">
          <img
          @click="$router.go(-1)"
          class="block-center"
          src="../../public/img/logo.png"
          alt="Image" />
        </a>
      </div>
      <div class="card-body">
        <div class="alert alert-warning">{{$t('SendEmailMessage')}}</div>
        <p class="text-center py-2">{{$t('LabelConfirmAccount')}}</p>
        <form
          class="mb-3"
          @submit.prevent="validateBeforeSubmit('confirm')"
          data-vv-scope="confirm"
        >
          <div class="form-group">
            <label class="text-muted" for="signupInputEmail1">{{ $t('Email') }}</label>
            <div class="input-group with-focus">
              <input
                v-on:keyup="keyClean"
                :class="{'form-control border-right-0':true, 'is-invalid': errors.has('confirm.email')}"
                :placeholder="$t('PlaceholderEmail')"
                v-model="confirm.email"
                v-validate="'required|email'"
                type="text"
                name="email"
              />
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-envelope"></em>
                </span>
              </div>
              <span
                v-show="errors.has('confirm.email')"
                class="invalid-feedback"
              >{{ errors.first('confirm.email') }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="text-muted" for="signupInputEmail1">{{ $t('Code') }}</label>
            <div class="input-group with-focus">
              <input
                v-on:keyup="keyClean"
                :class="{'form-control  border-right-0':true, 'is-invalid': errors.has('confirm.code')}"
                v-model="confirm.code"
                v-validate="'required'"
                type="text"
                name="code"
                ref="code"
                autocomplete="off"
                :placeholder="$t('PlaceholderCode')"
              />
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-lock"></em>
                </span>
              </div>
              <span
                v-show="errors.has('confirm.code')"
                class="invalid-feedback"
              >{{ errors.first('confirm.code') }}</span>
            </div>
          </div>

          <p class="text-danger">{{error}}</p>

          <button class="btn btn-block btn-primary mt-3" :disabled="loading">
            <em class="fa fa-spinner fa-spin" v-show="loading"></em>
            {{ $t('ButtonConfirm') }}
          </button>
        </form>
        <p class="pt-3 text-center">¿Volver a enviar código?</p>
        <a class="btn btn-block btn-secondary" @click="resend">{{$t('LabelResetCode')}}</a>
      </div>
    </div>
    <!-- END card-->
  </div>
</template>
<script>
import Vue from "vue";
import VeeValidate, { Validator } from "vee-validate";
import es from "vee-validate/dist/locale/es";
Validator.localize({ es: es });
Vue.use(VeeValidate, {
  fieldsBagName: "formFields",
  locale: "es"
});

import { signUp,resendSignUp } from "@/utils/auth.js";
import { Auth } from "aws-amplify";
import { AmplifyEventBus } from "aws-amplify-vue";

export default {
  name: "Confirm",
  data() {
    return {
      confirm: {
        email: "",
        code: ""
      },
      error: "",
      loading: false,
      refcorreo:''
    };
  },
  mounted() {
    this.refcorreo = this.$route.query.ref;
    this.confirm.email = this.refcorreo;
    this.$refs.code.focus();
  },
  methods: {
    keyClean: function(event) {
      this.confirm.email = this.confirm.email.trim();
      this.confirm.code = this.confirm.code.trim();
    },
    validateBeforeSubmit(scope) {
      this.error = "";
      this.loading = true;
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          this.submit();
        } else {
          this.loading = false;
        }
      });
    },
    async submit() {
      try {
        const formatEmail = this.confirm.email.toLowerCase(); // Lower Case Email to avoid data conflicts

        const data = await Auth.confirmSignUp(
          formatEmail,
          this.confirm.code
        );
        if (data) {
          AmplifyEventBus.$emit("authState", this.renderLogin(this.confirm.email.trim().toLowerCase()));
        }
      } catch (err) {
        this.error = this.$t(err.message);
        this.loading = false;
      }
    },
    async resend() {
      if (this.confirm.email == "") {
        this.error = this.$t("ErrorUserEmpty");
      } else {
        Auth.resendSignUp(this.confirm.email.trim().toLowerCase()).then(() => {
            return 'SUCCESS';
          }).catch(err => {
            this.error = this.$t(err.message);
          });
      }
    },
    renderLogin(email){
       this.$router.push({ path: '/login', query: { emailRef: email, showSuccessMessage: true} })
    }
  }
};
</script>
