<template>
  <div class="block-center mt-4 wd-xl">
    <!-- START card-->
    <div class="card card-flat">
      <div class="card-header text-center bg-dark">
        <a href="#">
          <img class="block-center" src="../../public/img/logo.png" alt="Image" />
        </a>
      </div>
      <div class="card-body">
        <div class="alert alert-success" v-show="confirm">{{$t('SendSuccessCode')}}</div>
        <div class="alert alert-success" v-show="ShowChangePasswordSuccessMessage">{{$t('ChangePasswordSuccessMessage')}}</div>
        <p class="text-center py-2">{{ $t('SignInTitle') }}</p>
        <form class="mb-3" @submit.prevent="validateBeforeSubmit('login')" data-vv-scope="login">
          <div class="form-group">
            <label class="text-muted" for="signupInputEmail1">{{ $t('Email') }}</label>
            <div class="input-group with-focus">
              <input
                v-on:keyup="keyClean"
                :class="{'form-control border-right-0':true, 'is-invalid': errors.has('login.email')}"
                :placeholder="$t('PlaceholderEmail')"
                v-model="login.email"
                v-validate="'required|email'"
                type="text"
                name="email"
              />
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-envelope"></em>
                </span>
              </div>
              <span
                v-show="errors.has('login.email')"
                class="invalid-feedback"
              >{{ errors.first('login.email') }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="text-muted" for="signupInputPassword1">{{ $t('Password') }}</label>
            <div class="input-group with-focus">
              <input
                v-on:keyup="keyClean"
                :class="{'form-control  border-right-0':true, 'is-invalid': errors.has('login.password')}"
                v-model="login.password"
                v-validate="'required'"
                type="password"
                name="password"
                :placeholder="$t('PlaceholderPassword')"
              />
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-lock"></em>
                </span>
              </div>
              <span
                v-show="errors.has('login.password')"
                class="invalid-feedback"
              >{{ errors.first('login.password') }}</span>
            </div>
          </div>
          <div class="clearfix">
            <div class="float-left">
              <div class="custom-control custom-checkbox"></div>
            </div>
            <div class="float-right">
              <router-link class="text-muted" to="/recover">
                <small>{{ $t('ForgotPasswordLabel') }}</small>
              </router-link>
            </div>
          </div>
          <p class="text-danger">{{error}}</p>
          <button class="btn btn-block btn-primary mt-3" :disabled="loading">
            <em class="fa fa-spinner fa-spin" v-show="loading"></em>
            <span v-show="!loading">{{$t('ButtonSignIn')}}</span>
          </button>
        </form>
       <div v-show="!emailConfirm">
        <p class="pt-3 text-center">¿No tienes una cuenta?</p>
        <router-link class="btn btn-block btn-secondary" to="/register">{{$t('LabelCreateAccount')}}</router-link>
       </div>
        <div v-show="emailConfirm">
        <p class="pt-3 text-center">¿Volver a enviar código?</p>
        <a class="btn btn-block btn-secondary" @click="resend">{{$t('LabelResetCode')}}</a>
       </div>
      </div>
    </div>
    <!-- END card-->
  </div>
</template>
<script>
import Vue from "vue";
import VeeValidate, { Validator } from "vee-validate";
import es from "vee-validate/dist/locale/es";
Validator.localize({ es: es });
Vue.use(VeeValidate, {
  fieldsBagName: "formFields",
  locale: "es"
});

import { signUp } from "@/utils/auth.js";
import { Auth } from "aws-amplify";
import { AmplifyEventBus, resendSignUp } from "aws-amplify-vue";

export default {
  name: "Login",
  data() {
    return {
      login: {
        email: "",
        password: ""
      },
      error: "",
      loading: false,
      confirm: false,
      emailConfirm: false,
      ShowChangePasswordSuccessMessage: false,
      href: ""
    };
  },
  mounted() {
    this.confirm = this.$route.query.showSuccessMessage ? true : false;
    this.ShowChangePasswordSuccessMessage = this.$route.query.ShowChangePasswordSuccessMessage ? true : false;
    this.login.email = this.$route.query.emailRef ? this.$route.query.emailRef : "";
    this.href = this.$route.query.href ? this.$route.query.href : "";

    console.log('href: ');
    console.log(this.href);
    console.log(atob(this.href));

    var base_path_href = atob(this.href);

    var pathname = new URL(base_path_href);

    console.log('pathname:', pathname.href);


  },
  methods: {
    keyClean: function(event) {
      this.login.email = this.login.email.trim();
      this.login.password = this.login.password.trim();
    },
    validateBeforeSubmit(scope) {
      this.error = "";
      this.loading = true;
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          this.submit();
        } else {
          this.loading = false;
        }
      });
    },
    async submit() {
      try {
        const data = await Auth.signIn(this.login.email.trim().toLowerCase(), this.login.password);
        if (data) {
          AmplifyEventBus.$emit("authState", "login");
          const credentials = await Auth.currentSession();

          // Auth.currentSession()
          // .then(data => console.log(data))
          // .catch(err => console.log(err));

          // Auth.currentCredentials().then((info) => {
          //   const cognitoIdentityId = info.data.IdentityId;
          //   console.log(cognitoIdentityId);
          // });

          localStorage.clear();

          // window.location.href =
          //   process.env.VUE_APP_CALLBACK +
          //   "#id_token=" +
          //   credentials.idToken.jwtToken +
          //   "&access_token=" +
          //   credentials.accessToken.jwtToken +
          //   "&&expires_in=3600&token_type=Bearer&state=E8AoZ1BrcZgRJZ7Oj4kqoGgDXDPAYsis";


          console.log(atob(this.href));

          var base_path_href = atob(this.href);

          // base_path_href.split('/');

          // console.log(base_path_href);

          var baseUrlHref = new URL(base_path_href);

          window.location.href =
            // process.env.VUE_APP_CALLBACK +
            baseUrlHref.origin + '/#/callback' +
            "#idToken=" + credentials.idToken.jwtToken +
            "&sub=" + credentials.idToken.payload.sub +
            "&accessToken=" + credentials.accessToken.jwtToken +
            "&refreshToken=" + credentials.refreshToken.token +
            "&href=" + this.href;


        }
      } catch (err) {
        this.error = this.$t(err.message);
        this.loading = false;
        console.log(err)
        if(err.code == 'UserNotConfirmedException'){
            this.emailConfirm = true
        }

      }
    },
    async resend() {
      if (this.login.email == "") {
        this.error = this.$t("ErrorUserEmpty");
      } else {
        Auth.resendSignUp(this.login.email.trim().toLowerCase()).then(() => {
           this.$router.push({ path: '/confirm',query: { ref: this.login.email.trim().toLowerCase()} })
          }).catch(err => {
            this.error = this.$t(err.message);
          });
      }
    }
  }
};
</script>
