<template>
  <div class="block-center mt-4 wd-xl">
    <!-- START card-->
    <div class="card card-flat">
      <div class="card-header text-center bg-dark">
        <a href="#">
          <img
            @click="$router.go(-1)"
            class="block-center"
            src="../../public/img/logo.png"
            alt="Image"
          />
        </a>
      </div>
      <div class="card-body">
        <div class="alert alert-warning" v-show="!resendCode">{{$t('SendEmailMessage')}}</div>
        <div class="alert alert-success" v-show="resendCode">{{$t('SendCodeConfirmMessage')}}</div>
        <p class="text-center py-2">{{$t('ChangePasswordTitle')}}</p>
        <form
          class="mb-3"
          @submit.prevent="validateBeforeSubmit('recoverSubmit')"
          data-vv-scope="recoverSubmit"
        >
          <div class="form-group">
            <label class="text-muted" for="signupInputEmail1">{{ $t('Email') }}</label>
            <div class="input-group with-focus">
              <input
                :class="{'form-control border-right-0':true, 'is-invalid': errors.has('recoverSubmit.email')}"
                :placeholder="$t('PlaceholderEmail')"
                v-model="recoverSubmit.email"
                v-validate="'required|email'"
                type="text"
                name="email"
              />
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-envelope"></em>
                </span>
              </div>
              <span
                v-show="errors.has('recoverSubmit.email')"
                class="invalid-feedback"
              >{{ errors.first('recoverSubmit.email') }}</span>
            </div>
          </div>

          <div class="form-group">
            <label class="text-muted" for="signupInputEmail1">{{ $t('Code') }}</label>
            <div class="input-group with-focus">
              <input
                :class="{'form-control border-right-0':true, 'is-invalid': errors.has('recoverSubmit.code')}"
                :placeholder="$t('PlaceholderCode')"
                v-model="recoverSubmit.code"
                v-validate="'required'"
                type="text"
                name="code"
                ref="code"
                autocomplete="off"
              />
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-hashtag"></em>
                </span>
              </div>
              <span
                v-show="errors.has('recoverSubmit.code')"
                class="invalid-feedback"
              >{{ errors.first('recoverSubmit.code') }}</span>
            </div>
          </div>

          <div class="form-group">
            <label class="text-muted" for="signupInputEmail1">{{ $t('NewPassword') }}</label>
            <div class="input-group with-focus">
              <input
                :class="{'form-control  border-right-0':true, 'is-invalid': errors.has('recoverSubmit.password')}"
                v-model="recoverSubmit.password"
                v-validate="'required'"
                type="password"
                name="password"
                :placeholder="$t('PlaceholderNewPassword')"
              />
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-lock"></em>
                </span>
              </div>
              <span
                v-show="errors.has('recoverSubmit.password')"
                class="invalid-feedback"
              >{{ errors.first('recoverSubmit.password') }}</span>
            </div>
          </div>

          <p class="text-danger">{{error}}</p>

          <button class="btn btn-block btn-primary mt-3" :disabled="loading">
            <em class="fa fa-spinner fa-spin" v-show="loading"></em>
            <span v-show="!loading">{{$t('ButtonSendConfirmationChange')}}</span>
          </button>
        </form>
        <div>
          <p class="pt-3 text-center">¿Enviar código nuevamente?</p>
          <a class="btn btn-block btn-secondary" @click="resend">{{$t('BackToResendCode')}}</a>
        </div>
      </div>
    </div>
    <!-- END card-->
  </div>
</template>
<script>
import Vue from "vue";
import VeeValidate, { Validator } from "vee-validate";
import es from "vee-validate/dist/locale/es";
Validator.localize({ es: es });
Vue.use(VeeValidate, {
  fieldsBagName: "formFields",
  locale: "es"
});

import { signUp } from "@/utils/auth.js";
import { Auth } from "aws-amplify";
import { AmplifyEventBus } from "aws-amplify-vue";

export default {
  name: "recoverSubmit",
  data() {
    return {
      recoverSubmit: {
        email: "",
        code: "",
        password: ""
      },
      error: "",
      loading: false,
      refcorreo: "",
      resendCode: false
    };
  },
  mounted() {
    this.refcorreo = this.$route.query.ref;
    this.recoverSubmit.email = this.refcorreo;
    this.$refs.code.focus();
    console.log(this.refcorreo);
  },
  methods: {
    validateBeforeSubmit(scope) {
      this.error = "";
      this.loading = true;
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          this.submit();
        } else {
          this.loading = false;
        }
      });
    },
    async submit() {
      try {
        const formatEmail = this.recoverSubmit.email.toLowerCase(); // Lower Case Email to avoid data conflicts

        const data = await Auth.forgotPasswordSubmit(
          formatEmail,
          this.recoverSubmit.code,
          this.recoverSubmit.password
        );
        AmplifyEventBus.$emit("authState", this.renderLogin(this.recoverSubmit.email.trim().toLowerCase()));
      } catch (err) {
        this.error = this.$t(err.message);
        console.log(err);
        this.loading = false;
      }
    },
    async resend() {
      const formatEmail = this.recoverSubmit.email.toLowerCase(); // Lower Case Email to avoid data conflicts
      if (this.recoverSubmit.email == "") {
        this.error = this.$t("ErrorUserEmpty");
      } else {
        await Auth.forgotPassword(this.recoverSubmit.email.trim().toLowerCase());
        this.resendCode=true;
        this.$refs.code.focus();
      }
    },
    renderLogin(email){
       this.$router.push({ path: '/login', query: { emailRef: email, ShowChangePasswordSuccessMessage: true} })
    }
  }
};
</script>
