<template>
  <div class="block-center mt-4 wd-xl">
    <!-- START card-->
    <div class="card card-flat">
      <div class="card-header text-center bg-dark">
        <a href="#">
          <img
            @click="$router.go(-1)"
            class="block-center"
            src="../../public/img/logo.png"
            alt="Image"
          />
        </a>
      </div>
      <div class="card-body">
        <p class="text-center py-2">{{$t('ForgotPasswordTitle')}}</p>
        <form
          class="mb-3"
          @submit.prevent="validateBeforeSubmit('recover')"
          data-vv-scope="recover"
        >
          <div class="form-group">
            <label class="text-muted" for="signupInputEmail1">{{ $t('Email') }}</label>
            <div class="input-group with-focus">
              <input v-on:keyup="keyClean"
                :class="{'form-control border-right-0':true, 'is-invalid': errors.has('recover.email')}"
                :placeholder="$t('PlaceholderEmail')"
                v-model="recover.email"
                v-validate="'required|email'"
                type="text"
                name="email"
              />
              <div class="input-group-append">
                <span class="input-group-text text-muted bg-transparent border-left-0">
                  <em class="fa fa-envelope"></em>
                </span>
              </div>
              <span
                v-show="errors.has('recover.email')"
                class="invalid-feedback"
              >{{ errors.first('recover.email') }}</span>
            </div>
          </div>
          <p class="text-danger">{{error}}</p>
          <button class="btn btn-block btn-primary mt-3" :disabled="loading">
            <em class="fa fa-spinner fa-spin" v-show="loading"></em>
            <span v-show="!loading">{{$t('Submit')}}</span>
          </button>
        </form>
        <div v-show="emailConfirm">
          <p class="pt-3 text-center">¿Desea verficar su correo electrónico?</p>
          <a class="btn btn-block btn-secondary" @click="resend">{{$t('LabelResetCode')}}</a>
        </div>
      </div>
    </div>
    <!-- END card-->
  </div>
</template>
<script>
import Vue from "vue";
import VeeValidate, { Validator } from "vee-validate";
import es from "vee-validate/dist/locale/es";
Validator.localize({ es: es });
Vue.use(VeeValidate, {
  fieldsBagName: "formFields",
  locale: "es"
});
import { signUp } from "@/utils/auth.js";
import { Auth } from "aws-amplify";
import { AmplifyEventBus, resendSignUp } from "aws-amplify-vue";

export default {
  name: "Recover",
  data() {
    return {
      recover: {
        email: ""
      },
      error: "",
      loading: false,
      emailConfirm: false
    };
  },
  methods: {
    keyClean: function(event) {
      this.recover.email = this.recover.email.trim();
    },
    validateBeforeSubmit(scope) {
      this.error = "";
      this.loading = true;
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          this.submit();
        } else {
          this.loading = false;
        }
      });
    },
    async submit() {
      try {
        const data = await Auth.forgotPassword(this.recover.email.trim().toLowerCase());
        if (data) {
          AmplifyEventBus.$emit(
            "authState",
            this.renderconfirm(this.recover.email.trim().toLowerCase())
          );
        }
      } catch (err) {
        this.error = this.$t(err.message);
        this.loading = false;
        console.log(err)
        if (err.code == "InvalidParameterException") {
          this.emailConfirm = true;
        }
      }
    },
    renderconfirm(email) {
      this.$router.push({ path: "/recoverSubmit", query: { ref: email } });
    },
    async resend() {
      if (this.recover.email == "") {
        this.error = this.$t("ErrorUserEmpty");
      } else {
        Auth.resendSignUp(this.recover.email.trim().toLowerCase())
          .then(() => {
            this.$router.push({
              path: "/confirm",
              query: { ref: this.recover.email.trim().toLowerCase() }
            });
          })
          .catch(err => {
            this.error = this.$t(err.message);
          });
      }
    }
  }
};
</script>
