<template>
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    <img @click="$router.go(-1)" class="block-center" src="../../public/img/logo.png" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <p class="text-center py-2">{{$t('SignUpTitle')}}</p>
                <form class="mb-3" @submit.prevent="validateBeforeSubmit('register')" data-vv-scope="register">
                    <div class="form-group">
                        <label class="text-muted" for="signupInputEmail1">{{$t('Name')}}</label>
                        <div class="input-group with-focus">
                            <input :class="{'form-control border-right-0':true, 'is-invalid': errors.has('register.name')}" :placeholder="$t('PlaceholderName')" v-model.trim="register.name" v-validate="'required'" type="text" name="name"/>
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-user"></em>
                                </span>
                            </div>
                            <span v-show="errors.has('register.name')" class="invalid-feedback">{{ errors.first('register.name') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="signupInputEmail1">{{$t('LastName')}}</label>
                        <div class="input-group with-focus">
                            <input :class="{'form-control border-right-0':true, 'is-invalid': errors.has('register.lastname')}" :placeholder="$t('PlaceholderLastName')" v-model.trim="register.lastname" v-validate="'required'" type="text" name="lastname"/>
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-user"></em>
                                </span>
                            </div>
                            <span v-show="errors.has('register.lastname')" class="invalid-feedback">{{ errors.first('register.lastname') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="signupInputEmail1">{{$t('Country')}}</label>
                          <select :class="{'form-control':true, 'is-invalid': errors.has('register.country')}"  :placeholder="$t('PlaceholderCountry')" v-model="register.country" v-validate="'required'" type="text" name="country">
                            <option value="">{{$t('PlaceholderCountry')}}</option>
                            <option value="8">Perú</option>
                            <option value="1">Argentina</option>
                            <option value="3">Bolivia</option>
                            <option value="4">Chile</option>
                            <option value="2">Colombia</option>
                            <option value="15">	Costa Rica</option>
                            <option value="5">Ecuador</option>
                            <option value="12">	El Salvador</option>
                            <option value="9">España</option>
                            <option value="14">	Guatemala</option>
                            <option value="18">	Honduras</option>
                            <option value="6">México</option>
                            <option value="13">	Panamá</option>
                            <option value="17">	Paraguay</option>
                            <option value="10">Puerto Rico</option>
                            <option value="11">	República Dominicana</option>
                            <option value="16">	Uruguay</option>
                            <option value="7">Venezuela</option>
                          </select>
                          <span v-show="errors.has('register.country')" class="invalid-feedback">{{ errors.first('register.country') }}</span>
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="signupInputMobile">{{$t('Mobile')}}</label>
                        <VuePhoneNumberInput
                        v-model.trim="register.mobile"
                        v-validate="'required'"
                        name="mobile"
                        default-country-code="PE"
                        :only-countries="['PE', 'AR', 'BO', 'CL', 'CO', 'CR', 'EC', 'SV', 'ES', 'GT', 'HN', 'MX', 'PA', 'PY', 'PR', 'DO', 'UY', 'VE']"
                        :translations="{
                          countrySelectorLabel: $t('CountrySelectorLabel'),
                          phoneNumberLabel: $t('PhoneNumberLabel'),
                          example: $t('ExampleNumberLabel')
                        }"

                        :error="errors.first('register.mobile')"
                        />
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="signupInputEmail1">{{ $t('Email') }}</label>
                        <div class="input-group with-focus">
                            <input v-on:keyup="keyClean" :class="{'form-control border-right-0':true, 'is-invalid': errors.has('register.email')}" :placeholder="$t('PlaceholderEmail')" v-model="register.email" v-validate="'required|email'" type="text" name="email"/>
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                            <span v-show="errors.has('register.email')" class="invalid-feedback">{{ errors.first('register.email') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="signupInputPassword1">{{ $t('Password') }}</label>
                        <div class="input-group with-focus">
                            <input v-on:keyup="keyClean" ref="password1" :class="{'form-control border-right-0':true, 'is-invalid': errors.has('register.password')}" v-model="register.password" v-validate="'required'" type="password" name="password" :placeholder="$t('PlaceholderPassword')"/>
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-lock"></em>
                                </span>
                            </div>
                            <span v-show="errors.has('register.password')" class="invalid-feedback">{{ errors.first('register.password') }}</span>
                        </div>
                    </div>

                    <p class="text-danger">{{error}}</p>

                    <button class="btn btn-block btn-primary mt-3" :disabled="loading"><em class="fa fa-spinner fa-spin" v-show="loading"></em> <span v-show="!loading">{{$t('ButtonSignUp')}}</span></button>
                </form>
                <p class="pt-3 text-center">{{ $t('HaveAnAccount') }}</p>
                <router-link class="btn btn-block btn-secondary" to="/login">{{ $t('BackToSignIn') }}</router-link>
            </div>
        </div>
        <!-- END card-->
    </div>
</template>
<script>
    import Vue from 'vue';
    import VeeValidate, { Validator } from 'vee-validate';
    import es from 'vee-validate/dist/locale/es';
    import VuePhoneNumberInput from 'vue-phone-number-input';
    Validator.localize({ es: es })
    Vue.use(VeeValidate, {
        fieldsBagName: 'formFields',
        locale: 'es'
    });
    import { signUp } from "@/utils/auth.js";
    import { Auth } from "aws-amplify";
    import { AmplifyEventBus } from "aws-amplify-vue";

    export default {
        name: "Register",
        components: {
            VuePhoneNumberInput,
          },
        data() {
            return {
                register: {
                    name: '',
                    lastname: '',
                    country: '',
                    mobile: '',
                    email: '',
                    password: ''
                },
                error: '',
                loading: false
            }
        },
        methods: {
            keyClean: function(event) {
              this.register.email = this.register.email.trim();
              this.register.password = this.register.password.trim();
            },
            validateBeforeSubmit(scope) {
                this.error = '';
                this.loading = true;
                this.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        this.submit();
                    } else {
                        this.loading = false;
                    }
                });
            },
            async submit() {
                try {
                    const formatEmail = this.register.email.toLowerCase(); // Lower Case Email to avoid data conflicts

                    const data = await Auth.signUp({
                      username:this.register.email.trim().toLowerCase(), password:this.register.password,
                      attributes:{
                        name:this.register.name,
                        email: this.register.email.trim().toLowerCase(),
                        "custom:last_name":this.register.lastname,
                        "custom:country":this.register.country,
                        "custom:mobile": this.register.mobile
                        }});
                    if (data) {
                        AmplifyEventBus.$emit("localUser", data.user);
                        if (data.userConfirmed === false) {
                            AmplifyEventBus.$emit("authState", this.renderconfirm(this.register.email.trim().toLowerCase()));
                        } else {
                            AmplifyEventBus.$emit("authState", "signIn");
                        }
                    }
                } catch (err) {
                    this.error = this.$t(err.message);
                    this.loading = false;
                }
            },
            renderconfirm(email){
              this.$router.push({ path: '/confirm',query: { ref: email} })
            }
        }
    }
</script>

