<template>
  <div id="app">
     <router-view></router-view>
  </div>
</template>

<script>
    import store from './store/index.js'

    export default {
        name: 'App',
        store
    }
</script>

<style lang="scss">
  @import '@/styles/bootstrap.scss';
  @import '@/styles/app.scss';
</style>

